.booking-section {
  font-family: "PTsans", "Arial", serif; }

.booking-section__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.booking-section__info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.booking-section__link {
  text-decoration: none;
  text-transform: uppercase; }

.booking-section__link-search {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 15px 32px 17px 32px;
  width: 216px;
  margin: auto; }

.booking-section__card {
  width: 100%;
  height: 350px; }

.copyright {
  font-family: "PTsans", "Arial", serif; }

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.copyright__link {
  text-decoration: none; }

.main {
  font-family: "PTsans", "Arial", serif; }

.main__intro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.main__intro-text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.main__logo {
  background-image: url("../img/back-desktop.jpg"); }

.main-nav {
  font-family: "PTsans", "Arial", serif; }

.main-nav__list {
  list-style: none;
  text-transform: uppercase; }

.main-nav__item-content {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  line-height: 26px; }

.page-footer {
  font-family: "PTsans", "Arial", serif;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }
  @media (min-width: 768px) {
    .page-footer {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr; } }

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.points-section {
  font-family: "PTsans", "Arial", serif; }

.points-section__name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase; }

.points-section__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .points-section__list {
      grid-template-columns: 1fr 1fr 1fr; } }

.points-section__description {
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase; }

.reason-card {
  font-family: "PTsans", "Arial", serif; }

.reason-card__title {
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.reason-card__description {
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.reason-card__city {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .reason-card__city {
      flex-direction: row; } }

.reason-card__city-img-wrapper {
  background-color: #eeeeee;
  height: 260px; }
  @media (min-width: 768px) {
    .reason-card__city-img-wrapper {
      height: 256px; } }

.reason-card__city-img {
  width: 100%;
  height: 260px; }
  @media (min-width: 768px) {
    .reason-card__city-img {
      height: 256px; } }
  @media (min-width: 1200px) {
    .reason-card__city-img {
      height: 256px;
      width: 800px; } }

.reason-card__bridge {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .reason-card__bridge {
      flex-direction: row-reverse; } }

.reason-card__bridge-img-wrapper {
  background-color: #eeeeee;
  height: 260px; }
  @media (min-width: 768px) {
    .reason-card__bridge-img-wrapper {
      height: 256px; } }

.reason-card__bridge-img {
  width: 100%;
  height: 260px; }
  @media (min-width: 768px) {
    .reason-card__bridge-img {
      height: 256px; } }
  @media (min-width: 1200px) {
    .reason-card__bridge-img {
      height: 256px;
      width: 800px; } }

.reason-card__wrapper {
  background-color: #eeeeee; }

.reason-section {
  font-family: "PTsans", "Arial", serif; }

.reason-section__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.social__list {
  list-style: none;
  text-align: center; }

.social__link {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "PTsans";
  src: local("PTsans"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400; }

@font-face {
  font-family: "PTsans";
  src: local("PTsans"), url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700; }

.answer-box {
  border: none;
  font-family: "PTsans", "Arial", serif; }

.answer-box__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.answer-box__list {
  list-style: none; }

.answer-box__item-subject {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333; }

.answer-box__item-subject_checkbox {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none; }

.answer-box__item-subject_radio {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none; }

.answer-box__textarea {
  background-color: #f2f2f2; }

.answer-box__submit-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  border: none; }

.answer-box__field {
  background-color: #f2f2f2;
  border: none; }

.answer-box__field-contacts {
  background-color: #f2f2f2;
  border: none; }

.feedback-card {
  font-family: "PTsans", "Arial", serif; }

.feedback-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.feedback-card__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.img-card__list {
  list-style: none; }

.intro-card {
  font-family: "PTsans", "Arial", serif;
  text-transform: uppercase; }

.intro-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center; }

.intro-card__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center; }

.picture {
  font-family: "PTsans", "Arial", serif; }

.picture__name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px; }

.picture__author {
  font-size: 14px;
  line-height: 24px; }

.picture__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px; }

.view-card {
  font-family: "PTsans", "Arial", serif; }

.view-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.view-card__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.logo-content {
  background-image: url("../img/back-mobile.jpg");
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .logo-content__welcome {
    width: 188px;
    height: 45px; } }

@media (min-width: 768px) {
  .logo-content__welcome-description {
    width: 174px;
    height: 29px; } }

@media (min-width: 768px) {
  .logo-content__sedona {
    width: 461px;
    height: 80px; } }

@media (min-width: 768px) {
  .logo-content__sedona-description {
    width: 282px;
    height: 74px; } }

.reason-card-close-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }
  @media (min-width: 768px) {
    .reason-card-close-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr; } }

.content-wrapper {
  margin: 0 18px; }
  @media (min-width: 768px) {
    .content-wrapper {
      margin: 0 40px; } }
  @media (min-width: 1200px) {
    .content-wrapper {
      margin: 0 72px; } }

/*# sourceMappingURL=style.css.map */
