.feedback-card {
  font-family: "PTsans", "Arial", serif;
}

.feedback-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.feedback-card__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
