.main {
  font-family: "PTsans", "Arial", serif;
}

.main__intro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main__intro-text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main__logo {
  background-image: url("../img/back-desktop.jpg");
}
