.picture {
  font-family: "PTsans", "Arial", serif;
}

.picture__name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.picture__author {
  font-size: 14px;
  line-height: 24px;
}

.picture__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
