.booking-section__title {
  font-family: "PTsans", "Arial", serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.booking-section__info {
  font-family: "PTsans", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.booking-section__link {
  text-decoration: none;
  text-transform: uppercase;
}

.booking-section__link-search {
  font-family: "PTsans", "Arial", serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $white;
  background-color: $sky-blue;
}
