.copyright {
  font-family: "PTsans", "Arial", serif;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.copyright__link {
  text-decoration: none;
}
