.intro-card {
  font-family: "PTsans", "Arial", serif;
  text-transform: uppercase;
}

.intro-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.intro-card__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
