.logo__welcome {
  @media (min-width: $tablet-width) {
    width: 188px;
    height: 45px;
  }
}

.logo__welcome-description {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 29px;
  }
}

.logo__sedona {
  @media (min-width: $tablet-width) {
    width: 461px;
    height: 80px;
  }
}

.logo__sedona-description {
  @media (min-width: $tablet-width) {
    width: 282px;
    height: 74px;
  }
}
