.main-nav__list {
  list-style: none;
  text-transform: uppercase;
}

.main-nav__item-content {
  font-family: "PTsans bold", "Arial", serif;
  text-decoration: none;
  color: $black;
  line-height: 26px;
}
