.main-nav__list {
  list-style: none;
  text-transform: uppercase;
}

.main-nav__item-content {
  font-family: "PTsans", "Arial", serif;
  font-weight: 700;
  text-decoration: none;
  color: $black;
  line-height: 26px;
}
