.page-footer {
  font-family: "PTsans", "Arial", serif;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
