.points-section {
  font-family: "PTsans", "Arial", serif;
}

.points-section__name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.points-section__list {
  list-style: none;
  height: 418px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    height: 330px;
  }
}

.points-section__description {
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
}
