.points-section__name {
  font-family: "PTsans bold", "Arial", serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.points-section__list {
  list-style: none;
}

.points-section__description {
  font-family: "PTsans", "Arial", serif;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
}
