.reason-section__list {
  list-style: none;
}

.reason-section__intro-text {
  font-family: "PTsans", "Arial", serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
