.reason-card__title {
  font-family: "PTsans", "Arial", serif;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

.reason-card__description {
  font-family: "PTsans", "Arial", serif;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

.reason-card__wrapper {
  background-color: $gray;
}

.reason-card__wrapper_open {
  background-color: $sky-blue;
}
